.extension-switcher-bar__title h1 {
    font-size: 1.85rem;
    font-weight: 600;
    color: var(--section-title);
}

.extension-switcher-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
}

.extension-switcher-bar__radios {
    display: flex;
    gap: 10px;
}

.extension-switcher-bar__radios input[type="radio"] {
    display: none; /* Hide the radio buttons */
}

.extension-switcher-bar__radios label {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid var(--card-border);
    border-radius: 20px; /* Rounded corners */
    background-color: var(--card-bg); /* Default inactive color */
    color: var(--btn-txt);
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, border-color 0.3s;
}

.extension-switcher-bar__radios input[type="radio"]:checked + label {
    background-color: var(--Red-400); /* Active color */
    border-color: var(--Red-400);
    color: var(--btn-txt-active);
}

.extension-switcher-bar__radios label:hover {
    background-color: var(--card-bg-hover); /* Slightly lighter on hover */
    border-color: var(--card-border);
}

@media (max-width: 576px) {
    .extension-switcher-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .extension-switcher-bar__radios {
        width: 100%;
        justify-content: space-between;
        padding: 1rem 0rem; /* Adjust padding for smaller screens */
    }

    .extension-switcher-bar__title h1 {
        font-size: 1.5rem; /* Adjust title size for smaller screens */
    }
}