@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

/* ## Colors */

/* ### Neutral */

--Neutral-900: hsl(227, 75%, 14%);
--Neutral-800: hsl(226, 25%, 17%);
--Neutral-700: hsl(225, 23%, 24%);
--Neutral-600: hsl(226, 11%, 37%);
--Neutral-300: hsl(0, 0%, 78%);
--Neutral-200: hsl(217, 61%, 90%);
--Neutral-100: hsl(0, 0%, 93%);
--Neutral-0: hsl(200, 60%, 99%);

/* ### Red */

--Red-400: hsl(3, 86%, 64%);
--Red-500: hsl(3, 71%, 56%);
--Red-700: hsl(3, 77%, 44%);


/* ## Typography */

/* ### Body Copy */

--Font-size-paragraph: 16px;
--font-family: "Noto Sans", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
    font-family: var(--font-family);
    background: var(--Dark-Gradient);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: var(--Neutral-100);
}
body {
    max-width: 1440px;
    width: 100%;
}

header, main{
    padding: 0 2rem;
}
