:root {

/* ## Colors */

/* ### Neutral */

--Neutral-900: hsl(227, 75%, 14%);
--Neutral-800: hsl(226, 25%, 17%);
--Neutral-700: hsl(225, 23%, 24%);
--Neutral-600: hsl(226, 11%, 37%);
--Neutral-300: hsl(0, 0%, 78%);
--Neutral-200: hsl(217, 61%, 90%);
--Neutral-100: hsl(0, 0%, 93%);
--Neutral-0: hsl(200, 60%, 99%);

/* ### Red */

--Red-400: hsl(3, 86%, 64%);
--Red-500: hsl(3, 71%, 56%);
--Red-700: hsl(3, 77%, 44%);

/* ### Gradient */

--Light-Gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
--Dark-Gradient: linear-gradient(180deg, #040918 0%, #091540 100%);


/* ## Typography */

/* ### Body Copy */

--Font-size-paragraph: 16px;
--font-family: "Noto Sans", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Theme.module.css */
.lightTheme {
  --bg-gradient: linear-gradient(var(--Light-Gradient));
  --section-title: var(--Neutral-900);
  --text-color: var(--Neutral-700);
  --card-border: hsl(0, 0%, 78%);
  --card-bg: var(--Neutral-100);
  --card-bg-hover: var(--Neutral-0);
  --card-txt: var(--Neutral-700);
  --card-title: var(--Neutral-800);
  --btn-txt: var(--Neutral-800);
  --btn-txt-active: var(--Neutral-0);
  --btn-disabled: var(--Neutral-600);
  --toggle-bg-default: var(--Neutral-300);
  --toggle-knob-default: var(--Neutral-100);
}

.darkTheme {
  --bg-gradient: linear-gradient(var(--Dark-Gradient));
  --section-title: var(--Neutral-100);
  --text-color: var(--Neutral-700);
  --card-border: var(--Neutral-700);
  --card-bg: var(--Neutral-800);
  --card-bg-hover: var(--Neutral-900);
  --card-txt: var(--Neutral-300);
  --card-title: var(--Neutral-100);
  --btn-txt: var(--Neutral-100);
  --btn-txt-active: var(--card-txt);
  --btn-disabled: var(--Neutral-600);
  --toggle-bg-default: var(--Neutral-700);
  --toggle-knob-default: var(--Neutral-100);
}

.appContainer {
  
}
